.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 51rem;
    background-color: var(--gray-400);
    height:4.5rem;
    margin-bottom:0.75rem; 
    border-radius: 8px;
    padding: 1rem;
}
.task div button{

    margin-right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--blue);
}
.trash-button{
    background: none;
    border: none;
    cursor: pointer;
    color: var(--gray-300);
    transition: color .2s;
}

.trash-button:hover{
    
    cursor: pointer;
    color: var(--danger);
}


.unchecked 
{
 color: var(--blue)
}

.unchecked:hover
{
 color: var(--blue-dark)
}

.checked:hover
{
    color: var(--purple);
}

